@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display%=swap');
 *{ margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #3498DB;
  }
  .wrapper{
    background: #fff;
    max-width: 410px;
    border-radius: 7px;
    border: 0.2rem solid #10221b;
    padding: 20px 50px;
  }
 
  header h2{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  header p{
    margin-top: 5px;
    color: O#474747;
    font-size: 16px;
  }
  .wrapper .form{
    margin: 20px 0 30px;
    
  }
  .form :where(button){
   width: 100%;
   height: 50px;
   border: none;
   outline: none;
   border-radius: 5px;
  }
  
  
  
  .form button{
    color: #fff;
    cursor: pointer;
   margin-top: 20px;
    font-size: 17px;
    background: #3498DB;
  }
  .wrapper .qrcode{
    display: flex;
    padding: 30px;
  pointer-events: none;
  border-radius:5px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
   }
   .btn:hover{
    color: #f5f8ff;
    background-color: #110f29;
  }
  .btn{
    margin-top: 1rem;
    padding: 0.6em 1em;
    display: inline-block;
    border: 0.2rem solid #10221b;
    color: #10221b;
    cursor: pointer;
    background: rgb(245, 243, 243,0.7);
    margin-bottom: 30px;
    font-size: 1rem;
  }
 